.intro {
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .actions {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 550px) {
    padding-top: 6em;
    padding-bottom: 6em;

    .actions {
      flex-direction: column;

      > div {
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding: 10px 20px;
      }

      .button, .styles_particles__5dxGv, .styles_particles__5dxGv div {
        width: 100%;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }
}
