@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/*@import 'antd/dist/antd.css';*/


/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}

.custom-block.tip {
  background-color: #f3f5f7;
  border-color: #42b983;
}
.custom-block p{
  line-height: 1.7;
  margin: 1em 0;
}
.custom-block.danger, .custom-block.tip, .custom-block.warning {
  padding: .1rem 1.5rem;
  border-left-width: .5rem;
  border-left-style: solid;
  margin: 1rem 0;
}
